<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Interview Buddy</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">Interview Buddy</div>
    </div>
    <div class="container">
        <div class="content">
            <h1>Upload Your Resume</h1>
            <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="file" name="file" accept=".docx">
                <button type="submit" class="btn-primary">Upload</button>
            </form>
        </div>
    </div>
    <footer>
        <div class="footer-text">© 2024 Sanco Foundation. All rights reserved.</div>
    </footer>
</body>
</html>
